/* set defaults */
* {
	box-sizing: border-box;
}
body {
	background-color: #383f48;
	color: #ffffff;
	font-size: 16px;
}
h1 {
	font-size: 1.8em;
	line-height: 1.8em;
}
h2 {
	font-size: 1.6em;
	line-height: 1.6em;
}
h3 {
	font-size: 1.4em;
	line-height: 1.4em;
}
h4 {
	font-size: 1.2em;
	line-height: 1.2em;
}
a {
	color: #ffffff;
	text-decoration: none;
}
a:hover {
	opacity: .7;
}